<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>Cadastro de Filmes</title>
	<style type="text/css">
		html, body{
			height: 100%;
		}

		.row{
			margin-top: 20px;
		}

	</style>
</head>
<body>
	<div class="container-fluit">
		{{> navbar}}
		<div class="row">
			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
				<form action="/filme/inserir" method="POST">
					<div class="row text-center">
						<label for="nome">Título: {{usuarioLogado.nome}}</label>
						<input name="nome" type="text" class="form-control" required/>
					</div>

					<div class="row text-center">
						<label>Genero:</label>
						<select name="genero" class="form-control" required>
							<option value="">-- Selecione --</option>
							{{#todosGeneros}}
							<option value="{{.}}">{{nome}}</option>
							{{/todosGeneros}}
						</select>
					</div>

					<div class="row text-center">
						<label for="ano">Ano Lançamento:</label>
						<input name="ano" type="number" class="form-control" required/>
					</div>

					<div class="row text-center">
						<label for="sinopse">Sinopse:</label>
						<textarea name="sinopse" type="text" class="form-control" required></textarea>
					</div>

					<div class="row text-center">
						<label for="imagem">URL imagem:</label>
						<input name="imagem" type="url" pattern="https?://.+" required class="form-control"/> 
					</div>

					<div class="row text-center">
						<input width="150px" value="Cadastrar" type="submit" class="btn btn-primary"/> 
					</div>

				</form>
			</div>

			<div class="col-xs-4 col-md-4 col-lg-4">
			</div>
		</div>
	</div>
	{{> scripts}}
	<script type="text/javascript">
	$(function(){

		//teclas adicionais permitidas (delete,setas direita e esquerda)
    	var keyCodesPermitidos = new Array(9,39,37);

		$("input[type=number]").keydown(function(event) {
			//alert(event.keyCode);

			var tecla = (window.event) ? event.keyCode : event.which;

			if ($.inArray( tecla, keyCodesPermitidos ) != -1){
       	 		return true;
    		}  

			if ((tecla > 47 && tecla < 58))
				return true;
			else {
				if (tecla != 8)
					return false;
				else
					return true;
			}
		});
	});
	</script>
</body>
</html>