<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>Lista de Filmes</title>
	<style type="text/css">
		.titulo{
			margin-top: 50px;
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
		
	<div class="container">
		{{> navbar}}

		<div class="row titulo text-center">
			<h2>Lista de Filmes</h2>
		</div>

		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Generto</th>
						<th>Ano</th>
						<th>Sinopse</th>
						<th></th>
						<th></th>
						<th></th>
						
					</tr>
				</thead>

				<tbody>
					{{#filmes}}
						<tr>
							<td>{{nome}}</td>
							<td>{{genero.nome}}</td>
							<td>{{ano}}</td>
							<td>{{sinopse}}</td>
							<td><img width="100px" src="{{imagem}}" class="img-rounded img-responsive"></td>
							<td class="filme" value="{{idFilme}}">
								<img value="1" class="star" src="/img/star1.png"  width="20px">
								<img value="2" class="star" src="/img/star1.png" width="20px">
								<img value="3" class="star" src="/img/star1.png" width="20px">
								<img value="4" class="star" src="/img/star1.png" width="20px">
								<img value="5" class="star" src="/img/star1.png" width="20px">
							</td>	
							
								{{#usuarioLogado.admin}}
								<td>
									<a href="/filme/excluir?idFilme={{idFilme}}">
										<button class="btn btn-danger"	>Excuir</button>
									</a>
								</td>
								{{/usuarioLogado.admin}}
							
						</tr>
					{{/filmes}}
				</tbody>
			</table>
			{{#usuarioLogado.admin}}
			<div class="row">
				<a href="/filme/cadastro"><button class="btn btn-default">Cadastrar</button></a>
			</div>
			{{/usuarioLogado.admin}}
		</div>
	</div>
	{{> scripts}}
	<script type="text/javascript">
		$(function(){
			$('.star').hover(function(){
				if( $( this ).attr('src') === '/img/star1.png'){
					$( this ).attr('src', '/img/star3.jpg');
				}
			}, function(){
				if( $( this ).attr('src') === '/img/star3.jpg'){
					$( this ).attr('src', '/img/star1.png');
				}
			});

			$('.star').click(function(){
				$('.star').attr('src','/img/star1.png');
				$(this).prevAll().attr('src', '/img/star0.png');
				$(this).attr('src', '/img/star0.png');

				var nota = $( this ).attr('value');
				var filme = $('.filme').attr('value');

				$.ajax({
					url: '/filme/avaliar?nota=' + nota + '&idFilme=' + filme,
					type: 'POST'
				}).done(function(){
					alert('terminou');
				});
			});
		});
	</script>
</body>
</html>