<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>Lista de Filmes</title>
	<style type="text/css">
		.titulo{
			margin-top: 50px;
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
		
	<div class="container">
		{{> navbar}}

		<div class="row titulo text-center">
			<h2>Lista de Filmes</h2>
		</div>
		{{#usuarioLogado.admin}}
		<div class="row">
			<a href="/filme/cadastro"><button class="btn btn-default">Cadastrar</button></a>
		</div>
		<br>
		{{/usuarioLogado.admin}}
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Generto</th>
						<th>Ano</th>
<!-- 						<th>Sinopse</th> -->
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{{#filmes}}
						<tr class="filme" value="{{idFilme}}" mediaNota="{{mediaNota}}">
							<td>{{nome}}</td>
							<td>{{genero.nome}}</td>
							<td>{{ano}}</td>
							<td><a href="/filme/perfil?idFilme={{idFilme}}"><img width="100px" src="{{imagem}}" class="img-rounded"></a></td>
							<td >
								<div data-toggle="tooltip" data-placement="top"  title="Nota média: {{mediaNota}}">
									<img value="1" class="star" src="/img/star1.png" width="20px">
									<img value="2" class="star" src="/img/star1.png" width="20px">
									<img value="3" class="star" src="/img/star1.png" width="20px">
									<img value="4" class="star" src="/img/star1.png" width="20px">
									<img value="5" class="star" src="/img/star1.png" width="20px">
								</div>
							</td>				
							{{#usuarioLogado.admin}}
							<td>
								<a href="/filme/excluir?idFilme={{idFilme}}">
									<button class="btn btn-danger"	>Excuir</button>
								</a>
							</td>
							{{/usuarioLogado.admin}}
						</tr>
					{{/filmes}}
				</tbody>
			</table>
			{{#usuarioLogado.admin}}
			<div class="row">
				<a href="/filme/cadastro"><button class="btn btn-default">Cadastrar</button></a>
			</div>
			{{/usuarioLogado.admin}}
		</div>
	</div>
	{{> scripts}}
	<script type="text/javascript">
		$(function(){
			$('[data-toggle="tooltip"]').tooltip();
			$('tr[mediaNota]').each(function(i){
				var mediaNota = $( this ).attr('mediaNota');

				if(mediaNota === 0 ){
					$( this ).find('img[value]').attr('mediaNota');
				}

				$( this ).find('img[value="'+mediaNota+'"]')
				.attr('src', '/img/star0.png')
				.prevAll().attr('src', '/img/star0.png');
			});
		});
	</script>
</body>
</html>