<!DOCTYPE html>
<html>
<head>
	<meta chaset="utf-8">
	<link rel="stylesheet" type="text/css" href="/components/dist/css/bootstrap.css">
	<title>{{filme.nome}}</title>
	<style type="text/css">
	#sinopse{
		margin-bottom: 30px;
		margin-top: 50px;
	}

	#mediaNota{
		margin-bottom: 10px;
	}

	.star{
		cursor: pointer;
	}

	</style>
</head>
<body>
	<div class="container">
		{{> navbar}}
		<br><br><br><br>
		<div class="row">
			<div class="col-xs-5 col-md-5 col-lg-5">
				<img src="{{filme.imagem}}" width="70%" class="img-rounded">
			</div>

			<div class="col-xs-6 col-md-6 col-lg-6">
				<div class="row">
					<h2>{{filme.nome}}</h2>
				</div>

				<span>Ano: {{filme.ano}}</span>
				<div id="mediaNota"class="row" mediaNota="{{filme.mediaNota}}" data-toggle="tooltip" data-placement="left"  title="Nota média: {{filme.mediaNota}}">
					<img value="1" src="/img/star1.png" width="20px">
					<img value="2" src="/img/star1.png" width="20px">
					<img value="3" src="/img/star1.png" width="20px">
					<img value="4" src="/img/star1.png" width="20px">
					<img value="5" src="/img/star1.png" width="20px">
				</div>

				<div id="notaPessoal" value="{{filme.idFilme}}" notaPessoal="{{avaliacaoPessoal.nota}}" class="row" data-toggle="tooltip" data-placement="left" title="Sua nota: {{avaliacaoPessoal.nota}}">
					<img value="1" class="star" src="/img/star1.png" width="20px">
					<img value="2" class="star" src="/img/star1.png" width="20px">
					<img value="3" class="star" src="/img/star1.png" width="20px">
					<img value="4" class="star" src="/img/star1.png" width="20px">
					<img value="5" class="star" src="/img/star1.png" width="20px">
				</div>

				<div id="sinopse" class="row">
					<p>{{filme.sinopse}}</p>	
				</div>
			</div>
		</div>
	</div>
	{{> scripts}}
	<script type="text/javascript">
	$(function(){
		atualizarEstrelasNotaMedia( $( '#mediaNota' ).attr('mediaNota') );
		atualizarEstrelasNotaPessal( $( '#notaPessoal' ).attr('notaPessoal') );
		$('[data-toggle="tooltip"]').tooltip();

		function atualizarEstrelasNotaMedia( mediaNota ){
			var self = $( '#mediaNota' ).find('img[value="'+mediaNota+'"]');
			self.attr('src', '/img/star0.png');
			self.prevAll().attr('src', '/img/star0.png');
			self.nextAll().attr('src', '/img/star1.png');
			self.parent().attr('data-original-title', 'Nota média: '+ mediaNota);
		}

		function atualizarEstrelasNotaPessal( notaPessoal ){
			$( '#notaPessoal' ).find('img[value="'+notaPessoal+'"]')
			.attr('src', '/img/star0.png')
			.prevAll().attr('src', '/img/star0.png');
		}

		$('.star').hover(function(){
			if( $( this ).attr('src') === '/img/star1.png'){
				$( this ).attr('src', '/img/star3.jpg');
			}
		}, function(){
			if( $( this ).attr('src') === '/img/star3.jpg'){
				$( this ).attr('src', '/img/star1.png');
			}
		});

		$('.star').click(function(){
			var self = $(this);
			self.prevAll().attr('src', '/img/star0.png');
			self.nextAll().attr('src', '/img/star1.png');
			self.attr('src', '/img/star0.png');
			
			var nota = $( this ).attr('value');
			self.parent().attr('data-original-title', 'Sua nota: '+ nota);
			var filme = $( this ).parent().attr('value');

			$.ajax({
				url: '/filme/avaliar?nota=' + nota + '&idFilme=' + filme,
				type: 'POST'
			}).done(function(){
				$.ajax({
					url: '/filme/atualizarMedia?idFilme=' + filme,
					type: 'GET',
					contentType: 'json',
	  				dataType: 'json'
				}).done(function(notaMedia){
					atualizarEstrelasNotaMedia( notaMedia );
				});
			});

			
		});
	});
	</script>
</body>
</html>